page-accueil-comptage {

}


$XLBlue: #0cb3e8;
$XLBlueDarker: #0069a2;

/*	HEADER	*/

ion-header {
	#title {
		text-align: left;
		width: 50%;
		float: left;
	}
	#img_title_left {
		float: left;
		margin-left: 1px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
	
	ion-buttons {
		button {
			ion-icon {
				font-size: 5vw;
				margin-left: 2vw;
			}
		}
	}

}




/*	AFFICHAGE COMPTAGES	*/
ion-content {

	ion-item {

		#badge {
			/*background-color: $XLBlue;*/
			display: inline-block;
			vertical-align: top;
		}

		#item_comptage_sans_badge {
			display: inline-block;
			width: 80%;

			#dateComptage {
				font-style: italic;
			}	
		}
	}

	
	h2 {
		text-align: center;
		color: rgb(150,150,150);
	}

	#menu_contextuel {
		position: absolute;
		z-index: 99;
		right: 0px;
		top: 0px;

		width: 25%;
		border: 1px solid rgb(224,224,224);

		ion-item {
			text-align: center;
		}
	}
	#menu_contextuel ion-item:hover {
		background-color: rgb(250,250,255);
	}
}