page-home {

}

.passerInventaire {
	padding-top: 5vw;
	padding-bottom: 5vw;
	font-size: 4.75vw;
}

.passerInventaire img {
	margin-right: 10%;
	width: 100%;
}

.passerInventaire:hover {
	color: rgba(240,240,240,1);
}

#totextAlignCenter {
	text-align: center;
}

ion-header #title {
	text-align: left;
	width: 50%;
}

ion-header #img_title_left {
	float: left;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
}