page-home {

}

.passerInventaire {
	padding-top: 5vw;
	padding-bottom: 5vw;
	font-size: 4.75vw;
}

.passerInventaire img {
	margin-right: 10%;
	width: 100%;
}

.passerInventaire:hover {
	color: rgba(240,240,240,1);
}

