<!--
  Generated template for the InventaireComptagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<script src="../../assets/sql.js"></script>
<ion-header>

  <ion-navbar color="XLblue">

    <!--
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
  	</button>-->
        
    <ion-title *ngIf="!isSearchbarOpened" (click)="goTo('AccueilComptagePage')">
      <ion-icon name="arrow-back"></ion-icon>
      {{comptage.nom}}
    </ion-title>

    <!--Searchbar-->
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="getScansCorrespondant($event)" (ionCancel)="isSearchbarOpened=false" (ionClear)="getScansCorrespondant('')"></ion-searchbar>

    <ion-buttons end>
      <button ion-button id="search" (click)="isSearchbarOpened=!isSearchbarOpened"><ion-icon [name]="getNameIcon()"></ion-icon></button>
      <button ion-button (click)="goToParam()" id="more"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button block class="envoyerDansLaBase" color="XLblueDarker" class="transfererDonnees" (click)="presentToast('Les données ont été transférées')">
    Ajouter les données scannées dans la base de données
  </button>

  <p id="refresh">
    <button ion-fab mini color="XLblue" (click)="getScansCorrespondant('')">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </p>
  <p id="changeMode">
    <ion-label>{{getNomMode()}}</ion-label>
    <ion-toggle (ionChange)="changeMode()"></ion-toggle>
  </p>

  <!--<h2 [innerHTML]="aucuneScan()"></h2>-->

  <ion-item *ngFor="let scan of scans_searched" id="item_scanned">
      <ion-badge item-begin id="badge" big>
        {{scan.quantite}}
      </ion-badge>
      <div id="item_comptage_sans_badge">
        <div id="primary_plus_secondary">
          <h1>{{getPrimaryText(scan)}}</h1>
          <p>{{getSecondaryText(scan)}}</p>
        </div>
      </div>
      <span>{{scan.prixEtiquette}}€</span>
  </ion-item>
  

  <ion-fab bottom center *ngIf="comptage.ouvert == 1">
    <button ion-fab color="primary" (click)="scanBarcode()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
