#elemsCamera {
	text-align: center;
}

h3 {
	text-align: center;
}

#testpluginCamera, #testpluginCameraPreview {
	margin-bottom: 30px;
}

#testpluginCamera {
	/*display: none;*/
}

html, body, ion-app, ion-content, ion-page, .nav-decor {
  background-color: transparent !important;
}

#h3pluginCameraPreview {
	color: #fafafa;
}
