<!--
  Generated template for the NouveauComptagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<script src="../../assets/sql.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<ion-header>

  <ion-navbar color="XLblue">
  	<ion-buttons begin>
  		<button ion-button (click)="goTo('AccueilComptagePage')" id="button">
        <ion-icon name="arrow-back"></ion-icon>
        Annuler
      </button>
  	</ion-buttons>

    <ion-buttons end>
    	<button ion-button (click)="enregistrerComptage()">Enregistrer</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-title>Nouveau Comptage</ion-title>

  <!--Nom-->

  <ion-item id="item_nouveauNom">
    <ion-label stacked id="label_nom">
      <span [innerHTML]="getNameLength()"></span>
      /{{tailleMaxNom}}
    </ion-label>
    <ion-input type="text" [(ngModel)]="nomComptage" id="newName" placeholder="Saisir un nom" [maxlength]="tailleMaxNom"></ion-input>
    <span>Vous devez rentrer un nom valide</span>
  </ion-item>
  <p id="invalidMessage_nom"></p>

  <!--Type Comptage-->
  <ion-list radio-group [(ngModel)]="typeComptage">
    <ion-item *ngFor="let typeComptage of bdd.localData['typeComptage']">
      <ion-label>{{typeComptage.nom}}</ion-label>
      <ion-radio checked="false" [value]="typeComptage.idTypeComptage"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Erreur</ion-label>
      <ion-radio checked="false" value=30></ion-radio>
    </ion-item>
  </ion-list>
  <p id="invalidMessage_type"></p>

  <!-- Magasin-->
  <ion-item>
    <ion-label>Magasin</ion-label>
    <ion-select [(ngModel)]="magasinComptage" id="magasinSelect">
      <ion-option *ngFor="let magasin of bdd.localData['magasin']" [value]="magasin.idMagasin">{{magasin.nom}}</ion-option>
      <ion-option value=11>Erreur</ion-option>
    </ion-select>
  </ion-item>
  <p id="invalidMessage_magasin"></p>

</ion-content>
