$XLBlue: #0cb3e8;
$XLBlueDarker: #0069a2;
$redSoft: #f44336;

page-nouveau-comptage {

	ion-navbar {
		ion-buttons {
			ion-icon {
				margin-right: 5px;
			}
		}
	}

	ion-content {
		ion-title {
			text-align: center;
		}

		#item_nouveauNom {
			#label_nom {
				text-align: right;
			}
		}

		#invalidMessage_nom, #invalidMessage_type, #invalidMessage_magasin {
			margin-bottom: 20px;
			text-align: center;
			color: $redSoft;
		}

	}
}
